<div class="contanier" *ngIf="currentUser; else loggedOut">
    <header class="customer">
        <h3>
            <strong>{{currentUser.name}}</strong> Profile
        </h3>
    </header>
    <p>
        <strong>Token: </strong>
        {{ currentUser.accessToken.substring(0,20) }} ...
        {{ currentUser.accessToken.substring(currentUser.accessToken.length - 20) }}
    </p>
    <p>
        <strong>Email: </strong>
        {{currentUser.email}}
    </p>
</div>
<ng-template #loggedOut>
    Please login
</ng-template>