<!DOCTYPE html>
<html lang="en">
<head>
<title>EphoneShop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body,h1,h2,h3,h4,h5 {font-family: "fantasy", sans-serif}
body {font-size:16px;}
.PA-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.PA-half img:hover{opacity:1}
</style>
<link rel="stylesheet" href="">
</head>
<body>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="PA-overlay PA-hide-large" onclick="PA_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="PA-main" style="margin: 50px;">

  <!-- Header -->
  <div class="PA-container" style="margin-top:80px" id="showcase">
    <h1 class="PA-jumbo"><b>Phone</b></h1>
    <h1 class="PA-xxxlarge PA-text-purple"><b>Showcase.</b></h1>
    <hr style="width:50px;border:5px solid #5d4796" class="PA-round">
  </div>

  <!-- Photo grid (modal) -->
  <div class="PA-row-padding">
    <div class="PA-half">
      <img src="../../assets/Images/phone 1.jpg" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
      <img src="../../assets/Images/phone 2.png" style="width:100%" onclick="onClick(this)" alt="Light, white and tight scandinavian design">
      <img src="../../assets/Images/phone 3.webp" style="width:100%" onclick="onClick(this)" alt="White walls with designer chairs">
    </div>

    <div class="PA-half">
      <img src="../../assets/Images/phone 4.webp" style="width:100%" onclick="onClick(this)" alt="Windows for the atrium">
      <img src="../../assets/Images/phone 5.jpg" style="width:100%" onclick="onClick(this)" alt="Bedroom and office in one space">
      <img src="../../assets/Images/phone 6.webp" style="width:100%" onclick="onClick(this)" alt="Scandinavian design">
    </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="PA-modal PA-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="PA-button PA-black PA-xxlarge PA-display-topright">×</span>
    <div class="PA-modal-content PA-animate-zoom PA-center PA-transparent PA-padding-64">
      <img id="img01" class="PA-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Services -->
  <div class="PA-container" id="services" style="margin-top:75px">
    <h1 class="PA-xxxlarge PA-text-purple"><b>Services.</b></h1>
    <hr style="width:50px;border:5px solid #5d4796" class="PA-round">
    <p>We are a luxury phone provider that focus on what's best for you!</p>
    <p>Providing only the top-tier cell phones available in the market.  Networks up to 5G available allowing for the most connectivity nationwide.
      Bring your number over to us and receive $50 off the first month's bill for up to 4 phone lines.
    </p>
  </div>

  <!-- Packages / Pricing Tables -->
  <div class="PA-container" id="packages" style="margin-top:75px">
    <h1 class="PA-xxxlarge PA-text-purple"><b>Packages.</b></h1>
    <hr style="width:50px;border:5px solid #5d4796" class="PA-round">
    <p>We also strive to offer the most comprehensive phone plans and customer service with the consumer in mind. Free overnight shipping with any phone purchase! Dedicated team of representatives available 24/7 for any and all needs. </p>
  </div>

  <div class="PA-row-padding">
    <div class="PA-half PA-margin-bottom">
      <ul class="PA-ul PA-light-grey PA-center">
        <li class="PA-dark-grey PA-xlarge PA-padding-32">Just The Basics</li>
        <li class="PA-padding-16">3G & 4G Start</li>
        <li class="PA-padding-16">20 hours support</li>
        <li class="PA-padding-16">$45 without Auto Pay and paper-free billing.</li>
        <li class="PA-padding-16">20% off discounts!</li>
        <li class="PA-padding-16">Great Deals!</li>
        <li class="PA-padding-16">
          <h2>$ 35</h2>
          <span class="PA-opacity">per Month, plus taxes & fees</span>
        </li>
        <li class="PA-light-grey PA-padding-24">
          <a type="button" href="/login" class="PA-button PA-white PA-padding-large PA-hover-black">Get it Now!</a>
        </li>
      </ul>
    </div>

    <div class="PA-half">
      <ul class="PA-ul PA-light-grey PA-center">
        <li class="PA-purple PA-xlarge PA-padding-32">Just The Pros</li>
        <li class="PA-padding-16">5G on all Phones</li>
        <li class="PA-padding-16">50 hours support</li>
        <li class="PA-padding-16">$50 dollars off paid in cash</li>
        <li class="PA-padding-16">50% off discounts!</li>
        <li class="PA-padding-16">MEGA GREAT deals</li>
        <li class="PA-padding-16">
          <h2>$ 345</h2>
          <span class="PA-opacity">per Month, plus taxes & fees</span>
        </li>
        <li class="PA-light-grey PA-padding-24">
          <a type="button" href="/login" class="PA-button PA-purple PA-padding-large PA-hover-black">Get it Now!</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Contact -->
  <div class="PA-container" id="contact" style="margin-top:75px">
    <h1 class="PA-xxxlarge PA-text-purple"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid #5d4796" class="PA-round">
    <p>Do you want us luxurize your phone? Fill out the form and fill me in with the details :)</p>
  <form #contactForm="ngForm" (ngSubmit)="getUserContactInfo(contactForm.value)">
    <div class="PA-section">
      <label>Name</label>
      <input matInput class="PA-input PA-border" type="text" #name ngModel name="Name" placeholder="John Doe" required>
    </div>
    <div class="PA-section">
      <label>Email</label>
      <input matInput class="PA-input PA-border" type="text" #email ngModel name="Email" placeholder="jDoe@email.com" required>
    </div>
    <div class="PA-section">
      <label>Message</label>
      <input matInput class="PA-input PA-border" type="text" #message ngModel name="Message" placeholder="What seems to be the problem" required>
    </div>
    <button type="submit" class="PA-button PA-block PA-padding-large PA-purple PA-margin-bottom">Send Message</button>
  </form>
  </div>
<!-- End page content -->
</div>
<!-- PA.CSS Container -->
<!--<div class="PA-light-grey PA-container PA-padding-32" style="margin-top:75px;padding-right:58px"><p class="PA-right">Powered by <a href="https://www.PAschools.com/PAcss/default.asp" title="PA.CSS" target="_blank" class="PA-hover-opacity">PA.css</a></p></div>-->

</body>
</html>