
<!DOCTYPE html>
<html lang="en">
<head>
<title>PA.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body,h1,h2,h3,h4,h5 {font-family: "fantasy", sans-serif}
body {font-size:16px;}
.PA-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.PA-half img:hover{opacity:1}
</style>
<link rel="stylesheet" href="">
</head>
<body>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="PA-overlay PA-hide-large" onclick="PA_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="PA-main" style="margin-left:30px;margin-right:40px">

  <!-- Header -->
  <div class="PA-container" style="margin-top:80px" id="showcase">
    <h1 class="PA-jumbo"><b>Phone</b></h1>
    <h1 class="PA-xxxlarge PA-text-purple"><b>Showcase.</b></h1>
    <hr style="width:50px;border:5px solid #5d4796" class="PA-round">
  </div>

  <!-- Photo grid (modal) -->
  <div class="PA-row-padding">
    <div class="PA-half">
      <img src="../../assets/Images/phone 1.jpg" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
      <img src="../../assets/Images/phone 2.png" style="width:100%" onclick="onClick(this)" alt="Light, white and tight scandinavian design">
      <img src="../../assets/Images/phone 3.webp" style="width:100%" onclick="onClick(this)" alt="White walls with designer chairs">
    </div>

    <div class="PA-half">
      <img src="../../assets/Images/phone 4.webp" style="width:100%" onclick="onClick(this)" alt="Windows for the atrium">
      <img src="../../assets/Images/phone 5.jpg" style="width:100%" onclick="onClick(this)" alt="Bedroom and office in one space">
      <img src="../../assets/Images/phone 6.webp" style="width:100%" onclick="onClick(this)" alt="Scandinavian design">
    </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="PA-modal PA-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="PA-button PA-black PA-xxlarge PA-display-topright">×</span>
    <div class="PA-modal-content PA-animate-zoom PA-center PA-transparent PA-padding-64">
      <img id="img01" class="PA-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Services -->
  <div class="PA-container" id="services" style="margin-top:75px">
    <h1 class="PA-xxxlarge PA-text-purple"><b>Services.</b></h1>
    <hr style="width:50px;border:5px solid #5d4796" class="PA-round">
    <p>We are a luxury phone provider that focus on what's best for you!</p>
    <p>Some text about our services - what we do and what we offer. We are lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>

  <!-- Packages / Pricing Tables -->
  <div class="PA-container" id="packages" style="margin-top:75px">
    <h1 class="PA-xxxlarge PA-text-purple"><b>Packages.</b></h1>
    <hr style="width:50px;border:5px solid #5d4796" class="PA-round">
    <p>Some text our prices. Lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
  </div>

  <div class="PA-row-padding">
    <div class="PA-half PA-margin-bottom">
      <ul class="PA-ul PA-light-grey PA-center">
        <li class="PA-dark-grey PA-xlarge PA-padding-32">Just The Basics</li>
        <li class="PA-padding-16">3G & 4G Start</li>
        <li class="PA-padding-16">20 hours support</li>
        <li class="PA-padding-16">$45 without Auto Pay and paper-free billing.</li>
        <li class="PA-padding-16">20% discounts</li>
        <li class="PA-padding-16">Great Deals</li>
        <li class="PA-padding-16">
          <h2>$ 35</h2>
          <span class="PA-opacity">per month, plus taxes & fees</span>
        </li>
        <li class="PA-light-grey PA-padding-24">
          <button class="PA-button PA-white PA-padding-large PA-hover-black">Get it Now!</button>
        </li>
      </ul>
    </div>

    <div class="PA-half">
      <ul class="PA-ul PA-light-grey PA-center">
        <li class="PA-purple PA-xlarge PA-padding-32">Just The Pros</li>
        <li class="PA-padding-16">5G on all Phones</li>
        <li class="PA-padding-16">50 hours support</li>
        <li class="PA-padding-16">$50 dollars off paid in cash</li>
        <li class="PA-padding-16">50% discounts</li>
        <li class="PA-padding-16">MEGA GREAT deals</li>
        <li class="PA-padding-16">
          <h2>$ 345</h2>
          <span class="PA-opacity">per Month</span>
        </li>
        <li class="PA-light-grey PA-padding-24">
          <button class="PA-button PA-purple PA-padding-large PA-hover-black">Get it Now!</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Contact -->
  <div class="PA-container" id="contact" style="margin-top:75px">
    <h1 class="PA-xxxlarge PA-text-purple"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid #5d4796" class="PA-round">
    <p>Do you want us luxurize your phone? Fill out the form and fill me in with the details :)</p>
  <form #contactForm="ngForm" (ngSubmit)="getUserContactInfo(contactForm.value)">
    <div class="PA-section">
      <label>Name</label>
      <input class="PA-input PA-border" type="text" #name ngModel name="Name" placeholder="Enter Name" required>
    </div>
    <div class="PA-section">
      <label>Email</label>
      <input class="PA-input PA-border" type="text" #email ngModel name="Email" placeholder="Enter Email" required>
    </div>
    <div class="PA-section">
      <label>Message</label>
      <input class="PA-input PA-border" type="text" #message ngModel name="Message" placeholder="Enter Message" required>
    </div>
    <button type="submit" class="PA-button PA-block PA-padding-large PA-purple PA-margin-bottom">Send Message</button>
  </form>
  </div>

<!-- End page content -->
</div>
<script>
// Script to open and close sidebar
function PA_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function PA_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
