/* font */
font {
    font-family: 'fantasy';
    font-style: normal;
    font-weight: 400;
   
  }
  /* font */
  font {
    font-family: 'fantasy';
    font-style: normal;
    font-weight: 400;
    
  }
  /* font */
  font {
    font-family: 'fantasy';
    font-style: normal;
    font-weight: 400;
    
  }
html {overflow:none;}
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}

.PA-transparent,.PA-hover-none:hover{background-color:transparent!important}
.PA-hover-none:hover{box-shadow:none!important}
/* Colors */
.PA-amber,.PA-hover-amber:hover{color:#000!important;background-color:#ffc107!important}



.PA-yellow,.PA-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.PA-white,.PA-hover-white:hover{color:#000!important;background-color:#fff!important}
.PA-black,.PA-hover-black:hover{color:#fff!important;background-color:#000!important}
.PA-grey,.PA-hover-grey:hover,.PA-gray,.PA-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.PA-light-grey,.PA-hover-light-grey:hover,.PA-light-gray,.PA-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.PA-text-white,.PA-hover-text-white:hover{color:#fff!important}
.PA-text-black,.PA-hover-text-black:hover{color:#000!important}
.PA-text-grey,.PA-hover-text-grey:hover,.PA-text-gray,.PA-hover-text-gray:hover{color:#757575!important}
.PA-text-light-grey,.PA-hover-text-light-grey:hover,.PA-text-light-gray,.PA-hover-text-light-gray:hover{color:#f1f1f1!important}
.PA-text-dark-grey,.PA-hover-text-dark-grey:hover,.PA-text-dark-gray,.PA-hover-text-dark-gray:hover{color:#3a3a3a!important}
.PA-border-purple,.PA-hover-border-purple:hover{border-color:#9c27b0!important}
.PA-border-deep-purple,.PA-hover-border-deep-purple:hover{border-color:#673ab7!important}
.PA-border-white,.PA-hover-border-white:hover{border-color:#fff!important}
.PA-border-black,.PA-hover-border-black:hover{border-color:#000!important}
.PA-border-grey,.PA-hover-border-grey:hover,.PA-border-gray,.PA-hover-border-gray:hover{border-color:#9e9e9e!important}
.PA-border-light-grey,.PA-hover-border-light-grey:hover,.PA-border-light-gray,.PA-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.PA-border-dark-grey,.PA-hover-border-dark-grey:hover,.PA-border-dark-gray,.PA-hover-border-dark-gray:hover{border-color:#616161!important}

