<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div clas="container">
            <div class="login-input">
                <form class="login-form">
                    <fieldset>
                        <legend>Login</legend>
                        <label>E-mail</label>
                        <input type="text" placeholder="aaaaa@gmail.com">
                        <br/>
                        <label>Password</label>
                        <input type="password" placeholder="password">
                        <br/>
                        <div class="btn-group">
                            <button mat-raised-button color="primary">Login</button>
                            <a type="button" href="/signup" mat-raised-button color="accent">Sign-Up</a>
                        </div>
                    </fieldset>
                </form>
            </div> 
        </div>
    </body>
</html>

