<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div clas="container">
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <div class="login-content">
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>E-mail</mat-label>
                        <input formControlName="email" matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input formControlName="pass" type="password" matInput>
                    </mat-form-field>
                    <div class="btnGroup">
                        <button mat-raised-button color="primary">Login</button>
                        <button mat-raised-button color="primary">Sign-up</button>
                    </div>
                </mat-card-content>
            </div>
        </mat-card>
        <!-- <div class="login-input">
                <form class="login-form">
                    <fieldset>
                        <legend>Login</legend>
                        <div class="login-info">
                            <mat-form-field class="email" appearance="fill">
                                <mat-label>E-Mail</mat-label>
                                <input matInput required type="text">
                            </mat-form-field>
                            <mat-form-field class="pass" appearance="fill">
                                <mat-label>Password</mat-label>
                                <input matInput type="password">
                            </mat-form-field>
                        </div>
                        <div class="btn-group">
                            <button mat-raised-button color="primary">Login</button>
                            <a type="button" href="/signup" mat-raised-button color="accent">Sign-Up</a>
                        </div>
                    </fieldset>
                </form>
            </div>  -->
    </div>
</body>

</html>