.container
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
input
{
    max-height: 30px;
}
.quantity
{
    padding-left: 8px;
    margin-left: 15px;
    max-width: 30px;
}
button
{
    margin: 5px;
    padding: 10px;
    float:right;
}
mat-card-content
{
    margin: 40px;
    flex-direction: row;
}
.items
{
    padding-top: 20px;
    align-items: center;
    float: left;
}
.split
{
    flex-direction: row;
    align-items: right;
}
.redirect
{
    margin-top: 100px;
    float: right;

}
a
{
    text-decoration: none;
}
table
{
    width: 100%;
}
.title
{
    flex-direction: row;
}
.deleteBtn
{
    display: flex;
    height: 55px;
    width: 65px;
}