<div class="container">
    <mat-card>
        <div class="title">
            <mat-card-title>Shopping Cart</mat-card-title>
            <button class="deleteBtn" mat-mini-fab color="accent" (click)="UpdateCartItem()">Update</button>
        </div>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="split" >
                <div class="table-detail">
                    <table mat-table [dataSource]="cartDetails" class=""mat-elevation-z8>
                        <!--Checkbox column-->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-label>Delete</mat-label>
                              </th>
                              <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                              (change)="$event ? selection.toggle(row) : null"
                                              [checked]="selection.isSelected(row)"
                                              [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                              </td>
                        </ng-container>

                        <!--Product Name Column-->
                        <ng-container matColumnDef="productName">
                            <th mat-heaer-cell *matHeaderCellDef>Product Name</th>
                            <td mat-cell *matCellDef="let element">{{element.productName}}</td>
                        </ng-container>

                        <!--Price Column-->
                        <ng-container matColumnDef="price">
                            <th mat-heaer-cell *matHeaderCellDef>Price</th>
                            <td mat-cell *matCellDef="let element">{{element.price | currency:'USD':'symbol':'1.2-2'}}</td>
                        </ng-container>

                        <!--Quantity-->
                        <ng-container matColumnDef="quantity">
                            <th mat-heaer-cell *matHeaderCellDef>Quantity</th>
                            <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="redirect">
                <!-- <button mat-button>Update Cart</button> -->
                <a href="/checkout" mat-raised-button type="button" color="primary">Proceed To Check Out</a>
            </div>
        </mat-card-actions>
    </mat-card>
</div>