.container
{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin: 0;
    padding: 0;
}
.title
{
    font-size: 20px;
}
.spacer
{
    flex: 1 1 auto;
}
a
{
    margin: 10px;
}
a:hover
{
    text-decoration: none;
    color:white;
}