<div class="container">
    <mat-toolbar color="primary">
        <a class="title" href="/" type="button" mat-button>EphoneShop</a>
        <a type="button" href="/products" mat-button>Products</a>
        <a type="button" href="/developer" mat-button>Developers</a>
        <span class="spacer"></span>
        <div *ngIf="isLoggedIn; then LoggedOn; else LoggedOff">
        </div>
    </mat-toolbar>
</div>
<ng-template #LoggedOn>
    <mat-label >Welcome! </mat-label>
    <button (click)="logout()" mat-button>Log out</button>
</ng-template>
<ng-template #LoggedOff>
    <a href="/login" type="button" mat-button color="secondary">Login</a>
    <a href="/signup" type="button" mat-button color="secondary">Sign-up</a>
</ng-template>