button
  {
    font-size:20px;
    color: white;
    background-color: inherit;
    cursor: pointer;

  }
  .title-btn
  {
    display: flex;
    border: none;
    background-color: inherit;
    color: white;
    font-size: 24px;
  }
  .spacer
  {
    margin-top: 200px;
  }
  .sub-btn
  {
    border:none;
  }