<!DOCTYPE html>
<html lang="en">
<head>
<title>PA.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body,h1,h2,h3,h4,h5 {font-family: "fantasy", sans-serif}
body {font-size:16px;}
.PA-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.PA-half img:hover{opacity:1}
</style>

</head>
<body>

<!-- Sidebar/menu -->
<nav class="PA-sidebar PA-red PA-collapse PA-top PA-large PA-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="PA_close()" class="PA-button PA-hide-large PA-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="PA-container">
    <h3 class="PA-padding-64"><b>Company<br>Name</b></h3>
  </div>
  <div class="PA-bar-block"> <!--<a href="about.html>ABOUT US</a>-->
    <a href="#" onclick="PA_close()" class="PA-bar-item PA-button PA-hover-white">Home</a> 
    <a href="#greet" onclick="PA_close()" class="PA-bar-item PA-button PA-hover-white">Cellular Products</a> 
    <a href="#services" onclick="PA_close()" class="PA-bar-item PA-button PA-hover-white">Services</a> 
    <a href="#designers" onclick="PA_close()" class="PA-bar-item PA-button PA-hover-white">Designers</a> 
    <a href="#packages" onclick="PA_close()" class="PA-bar-item PA-button PA-hover-white">Packages</a> 
    <a href="#contact" onclick="PA_close()" class="PA-bar-item PA-button PA-hover-white">Contact</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="PA-container PA-top PA-hide-large PA-red PA-xlarge PA-padding">
  <a href="javascript:void(0)" class="PA-button PA-red PA-margin-right" onclick="PA_open()">☰</a>
  <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="PA-overlay PA-hide-large" onclick="PA_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="PA-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="PA-container" style="margin-top:80px" id="showcase">
    <h1 class="PA-jumbo"><b>Interior Design</b></h1>
    <h1 class="PA-xxxlarge PA-text-red"><b>Showcase.</b></h1>
    <hr style="width:50px;border:5px solid red" class="PA-round">
  </div>
  
  <!-- Photo grid (modal) -->
  <div class="PA-row-padding">
    <div class="PA-half">
      <img src="assets/Images/phone 1.jpg" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
      <img src="assets/Images/phone 2.png" style="width:100%" onclick="onClick(this)" alt="Light, white and tight scandinavian design">
      <img src="assets/Images/phone 3.webp" style="width:100%" onclick="onClick(this)" alt="White walls with designer chairs">
    </div>

    <div class="PA-half">
      <img src="assets/Images/phone 4.webp" style="width:100%" onclick="onClick(this)" alt="Windows for the atrium">
      <img src="assets/Images/phone 5.jpg" style="width:100%" onclick="onClick(this)" alt="Bedroom and office in one space">
      <img src="assets/Images/phone 6.webp" style="width:100%" onclick="onClick(this)" alt="Scandinavian design">
    </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="PA-modal PA-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="PA-button PA-black PA-xxlarge PA-display-topright">×</span>
    <div class="PA-modal-content PA-animate-zoom PA-center PA-transparent PA-padding-64">
      <img id="img01" class="PA-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Services -->
  <div class="PA-container" id="services" style="margin-top:75px">
    <h1 class="PA-xxxlarge PA-text-red"><b>Services.</b></h1>
    <hr style="width:50px;border:5px solid red" class="PA-round">
    <p>We are a interior design service that focus on what's best for your home and what's best for you!</p>
    <p>Some text about our services - what we do and what we offer. We are lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>
  
  <!-- Designers -->
  <div class="PA-container" id="designers" style="margin-top:75px">
    <h1 class="PA-xxxlarge PA-text-red"><b>Designers.</b></h1>
    <hr style="width:50px;border:5px solid red" class="PA-round">
    <p>The best team in the world.</p>
    <p>We are lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p><b>Our designers are thoughtfully chosen</b>:</p>
  </div>

  <!-- The Team -->
  <div class="PA-row-padding PA-grayscale">
    <div class="PA-col m4 PA-margin-bottom">
      <div class="PA-light-grey">
        <img src="/PAimages/team2.jpg" alt="John" style="width:100%">
        <div class="PA-container">
          <h3>John Doe</h3>
          <p class="PA-opacity">CEO & Founder</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="PA-col m4 PA-margin-bottom">
      <div class="PA-light-grey">
        <img src="/PAimages/team1.jpg" alt="Jane" style="width:100%">
        <div class="PA-container">
          <h3>Jane Doe</h3>
          <p class="PA-opacity">Designer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="PA-col m4 PA-margin-bottom">
      <div class="PA-light-grey">
        <img src="/PAimages/team3.jpg" alt="Mike" style="width:100%">
        <div class="PA-container">
          <h3>Mike Ross</h3>
          <p class="PA-opacity">Architect</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Packages / Pricing Tables -->
  <div class="PA-container" id="packages" style="margin-top:75px">
    <h1 class="PA-xxxlarge PA-text-red"><b>Packages.</b></h1>
    <hr style="width:50px;border:5px solid red" class="PA-round">
    <p>Some text our prices. Lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
  </div>

  <div class="PA-row-padding">
    <div class="PA-half PA-margin-bottom">
      <ul class="PA-ul PA-light-grey PA-center">
        <li class="PA-dark-grey PA-xlarge PA-padding-32">Basic</li>
        <li class="PA-padding-16">Floorplanning</li>
        <li class="PA-padding-16">10 hours support</li>
        <li class="PA-padding-16">Photography</li>
        <li class="PA-padding-16">20% furniture discount</li>
        <li class="PA-padding-16">Good deals</li>
        <li class="PA-padding-16">
          <h2>$ 199</h2>
          <span class="PA-opacity">per room</span>
        </li>
        <li class="PA-light-grey PA-padding-24">
          <button class="PA-button PA-white PA-padding-large PA-hover-black">Sign Up</button>
        </li>
      </ul>
    </div>
        
    <div class="PA-half">
      <ul class="PA-ul PA-light-grey PA-center">
        <li class="PA-red PA-xlarge PA-padding-32">Pro</li>
        <li class="PA-padding-16">Floorplanning</li>
        <li class="PA-padding-16">50 hours support</li>
        <li class="PA-padding-16">Photography</li>
        <li class="PA-padding-16">50% furniture discount</li>
        <li class="PA-padding-16">GREAT deals</li>
        <li class="PA-padding-16">
          <h2>$ 249</h2>
          <span class="PA-opacity">per room</span>
        </li>
        <li class="PA-light-grey PA-padding-24">
          <button class="PA-button PA-red PA-padding-large PA-hover-black">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- Contact -->
  <div class="PA-container" id="contact" style="margin-top:75px">
    <h1 class="PA-xxxlarge PA-text-red"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid red" class="PA-round">
    <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</p>
    <form action="/action_page.php" target="_blank">
      <div class="PA-section">
        <label>Name</label>
        <input class="PA-input PA-border" type="text" name="Name" required>
      </div>
      <div class="PA-section">
        <label>Email</label>
        <input class="PA-input PA-border" type="text" name="Email" required>
      </div>
      <div class="PA-section">
        <label>Message</label>
        <input class="PA-input PA-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="PA-button PA-block PA-padding-large PA-red PA-margin-bottom">Send Message</button>
    </form>  
  </div>

<!-- End page content -->
</div>

<!-- PA.CSS Container -->
<div class="PA-light-grey PA-container PA-padding-32" style="margin-top:75px;padding-right:58px"><p class="PA-right">Powered by <a href="https://www.PAschools.com/PAcss/default.asp" title="PA.CSS" target="_blank" class="PA-hover-opacity">PA.css</a></p></div>

<script>
// Script to open and close sidebar
function PA_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function PA_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
