<!-- Developers -->
<div class="PA-container" id="developers" style="margin-top:75px">
    <h1 class="PA-xxxlarge PA-text-purple"><b>Developers</b></h1>
    <hr style="width:50px;border:5px solid #5d4796" class="PA-round">
    <p>The best team in the world.</p>
    <p>We are communicative developers that is continuously learning and growing. Whether it is individually or grouped, we cover each other's mistakes as we go. <br/>
       This is as much a learning process for us developers as well as challenge for us to grow out of our comfort zones. Always hoping for a better future for<br/>
       ourselves and others. We intend to keep working and adding more features for this website when ever we could get all the functionality to be working. <br/>
       We would like to thank our supporters and instructors for assisting in every step of the way and their efforts of continuous support. <br/>
       WATCH OUT BEST TEAM COMING THROUGH!
    </p>
    <p><b>Our Developers are thoughfully chosen</b>:</p>
  </div>

  <!-- The Developer Team -->
  <div class="PA-row-padding PA-grayscale">
    <div class="PA-col m4 PA-margin-bottom">
      <div class="PA-light-grey">
        <!-- <img src="/PAimages/team2.jpg" alt="Ger" style="width:100%"> -->
        <div class="PA-container">
          <h3>Ger Vang</h3>
          <p class="PA-opacity">Developer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="PA-col m4 PA-margin-bottom">
      <div class="PA-light-grey">
        <!-- <img src="/PAimages/team1.jpg" alt="Jaden" style="width:100%"> -->
        <div class="PA-container">
          <h3>Jaden Williams</h3>
          <p class="PA-opacity">Developer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="PA-col m4 PA-margin-bottom">
      <div class="PA-light-gray">
        <!-- <img src="/PAimages/team3.jpg" alt="Brandon" style="width:100%"> -->
        <div class="PA-container">
          <h3>Brandon Jones</h3>
          <p class="PA-opacity">Developer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
      </div>
    </div>
    <div class="PA-col m4 PA-margin-bottom">
        <div class="PA-light-grey">
          <!-- <img src="/PAimages/team3.jpg" alt="Caleena" style="width:100%"> -->
          <div class="PA-container">
            <h3>Caleena Hall</h3>
            <p class="PA-opacity">Developer</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          </div>
        </div>
      </div>
      <div class="PA-col m4 PA-margin-bottom">
        <div class="PA-light-grey">
          <!-- <img src="/PAimages/team3.jpg" alt="Thara" style="width:100%"> -->
          <div class="PA-container">
            <h3>Thara Larkins</h3>
            <p class="PA-opacity">Developer</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          </div>
        </div>
      </div>
  </div>
