<div class="PA-container" id="developers" style="margin-top:75px">
  <h1 class="PA-xxxlarge PA-text-purple"><b>Developers</b></h1>
  <hr style="width:50px;border:5px solid #5d4796" class="PA-round">
  <p>The team of excellence and dedication.</p>
  <p>We are communicative developers that is continuously learning and growing. Whether it is individually or grouped, we cover each other's mistakes as we go. <br/>
     This is as much a learning process for us developers as well as challenge for us to grow out of our comfort zones. Always hoping for a better future for<br/>
     ourselves and others. We intend to keep working and adding more features for this website when ever we could get all the functionality to be working. <br/>
     We would like to thank our supporters and instructors for assisting in every step of the way and their efforts of continuous support. <br/>
     WATCH OUT! BEST TEAM COMING THROUGH!
  </p>
  <p><b>Our Developers are thoughfully chosen</b>:</p>
</div>

<!-- The Developer Team -->
<div class="PA-row-padding ">
  <div class="PA-col m4 PA-margin-bottom">
    <div class="PA-light-grey">
       <img src="../../assets/Images/Ger.jpg" alt="Ger" style="width:100%"> 
      <div class="PA-container">
        <h3>Ger Vang</h3>
        <p class="PA-opacity">.Net Developer</p>
        <p>With strong leadership skills and a vast knowledge of the core fundamentals of microservices, Ger displays top-notch qualities regarding application development. He extends these talents to ensure the best possible performance in all his work. </p>
      </div>
    </div>
  </div>
  <div class="PA-col m4 PA-margin-bottom">
    <div class="PA-light-grey">
      <img src="../../assets/Images/Jaden.png" alt="Jaden" style="width:100%">
      <div class="PA-container">
        <h3>Jaden Williams</h3>
        <p class="PA-opacity">.Net Developer</p>
        <p>Jaden delivers high-quality net code across the entire application stack. His laser focus on details depicts exemplary talents on application creation and deployment and tenacious dedication to the craft. </p>
      </div>
    </div>
  </div>
  <div class="PA-col m4 PA-margin-bottom">
    <div class="PA-light-grey">
       <img src="../../assets/Images/brandon.jpg" alt="Brandon" style="width:100%"> 
      <div class="PA-container">
        <h3>Brandon Jones</h3>
        <p class="PA-opacity">.Net Developer</p>
        <p>Familiarity with various design and architectural patterns, Brandon conveys a dedication to functional UI and a mastery for visual perfection with the end user in mind. He caters to the general consensus of teamwork. </p>
      </div>
    </div>
  </div>
  <div class="PA-col m4 PA-margin-bottom">
      <div class="PA-light-grey">
         <img src="../../assets/Images/Caleena.jpg" alt="Caleena" style="width:100%">
        <div class="PA-container">
          <h3>Caleena Hall</h3>
          <p class="PA-opacity">.Net Developer</p>
          <p>Caleena has experience creating database schemas that represent and support business operations with a drive for quality. She proficiently delivers a discernment for divergent thought procedures. </p>
        </div>
      </div>
    </div>
    <div class="PA-col m4 PA-margin-bottom">
      <div class="PA-light-grey">
        <img src="../../assets/Images/Thara.png" alt="Thara" style="width:100%">
        <div class="PA-container">
          <h3>Thara Larkins</h3>
          <p class="PA-opacity">.Net Developer</p>
          <p>Identifying bottlenecks and bugs, and devising solutions to mitigate and address these issues, Thara maintains the fortitude for streamlined processes and rapid resolutions. His focus to problem solving is truly unmatched.</p>
        </div>
      </div>
    </div>
</div>