html
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filter
{
    max-width: 10%;
    max-height: 70%;
    margin: 10px;
    float: left;
}
mat-label
{
    font-size: large;
}
.label
{
    font-size: medium;
}
.cards
{
    display: flex;
    position: relative;
    max-width: 80%;
    justify-content: left;
}
