html
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filter
{
    max-width: 10%;
    max-height: 70%;
    margin: 10px;
    float: left;
}
mat-label
{
    font-size: large;
}
.label
{
    font-size: medium;
}
.cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 85%;
    
}
mat-card
{
    margin: 10px;
    padding: 10px;
}
.cart
{
    display:flex;
    max-width: 5%;
}
