<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div clas="container">
    <div class="filter">
        <mat-label>Filter By Features</mat-label>
        <mat-divider></mat-divider>
        <mat-list role="list">
            <mat-accordion>
                <mat-label class="label">Processors</mat-label>
                <mat-divider></mat-divider>
                <mat-selection-list #Processors >
                    <mat-list-option *ngFor="let processor of typesOfProcessors" value="{{processor}}">
                        {{processor}}
                    </mat-list-option>
                </mat-selection-list>
            <mat-divider></mat-divider>
            <mat-label class="label">Brand</mat-label>
                <mat-divider></mat-divider>
            <mat-selection-list #Brand>
                <mat-list-option *ngFor="let brand of typesOfBrand" value="{{brand}}">
                    {{brand}}
                </mat-list-option>
            </mat-selection-list>
            <mat-divider></mat-divider>
            <mat-label class="label">Speed</mat-label>
                <mat-divider></mat-divider>
            <mat-selection-list #Speed>
                <mat-list-option *ngFor="let speed of typesOfSpeed" value="{{speed}}">
                    {{speed}}
                </mat-list-option>
            </mat-selection-list>
            <mat-divider></mat-divider>
            <mat-label class="label">Price</mat-label>
                <mat-divider></mat-divider>
            <mat-selection-list #Price>
                <mat-list-option *ngFor="let price of typesOfPrice" value="{{price}}">
                    {{price}}
                </mat-list-option>
            </mat-selection-list>
            </mat-accordion>
        </mat-list>
    </div>
    <div class="cards">
        <div class="cards">
            <mat-card class="card1" *ngFor="let dataItem of ProductsList">
                <mat-card-title>{{dataItem.productName}}</mat-card-title>
                <mat-card-subtitle>{{dataItem.productDesc}}</mat-card-subtitle>
                <img mat-card-image  src="../../assets/Images/phone 8.jpg">
                <mat-card-content> 
                                Color: {{dataItem.color}}<br/>
                                Speed: {{dataItem.speed}}<br/><br/>
                                Price: {{dataItem.price}}<br/>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="AddItemToCart(dataItem.Id)">Add to Cart</button>
                </mat-card-actions>
            </mat-card> 
        </div>
    </div>
     <div class="cart">
         <mat-card *ngFor="let cartItem of cartList">
             <mat-card-title><button mat-raised-button color="primary" (click)="GetCartItems(currentUser.Id)"><mat-icon>add_shopping_cart</mat-icon> Shopping Cart </button></mat-card-title>
             <mat-card-content >
                {{cartItem}}
             </mat-card-content>
         </mat-card>
    </div> 
</div>
