<!-- <app-show-product></app-show-product> -->
<div class="container">
    <div class="cards">
         <mat-card class="card1" *ngFor="let dataItem of ProductsList">
            <mat-card-title>{{dataItem.ProductName}}</mat-card-title>
            <mat-card-subtitle>{{dataItem.ItemNum}}</mat-card-subtitle>
            <img mat-card-image  src="../../assets/Images/phone 8.jpg">
            <mat-card-content> 
                            Color: {{dataItem.Color}}<br/>
                            Speed: {{dataItem.Speed}}<br/><br/> 
                            Price: ${{dataItem.Price}}<br/>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Check-Out</button>
            </mat-card-actions>
        </mat-card> 
    </div>
</div>