
<div class="container">
    <div class="cards">
        <mat-card class="card1" *ngFor="let dataItem of ProductsList">
            <mat-card-title>{{dataItem.name}}</mat-card-title>
            <mat-card-subtitle>{{dataItem.serialNum}}</mat-card-subtitle>
            <img mat-card-image  src="../../assets/Images/phone 8.jpg">
            <mat-card-content> 
                            Color: {{dataItem.color}}<br/>
                            Speed: {{dataItem.speed}}<br/><br/>
                            Price: ${{dataItem.price}}<br/>
            </mat-card-content>
            <mat-card-actions>
                <a href="/checkout" mat-raised-button color="primary" type="button">Check-Out</a>
            </mat-card-actions>
        </mat-card> 
    </div>
</div>

